body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background: #F3F5FC;

    /* Para preencher apenas a pagina.
    Sem uma barra de rolagem */    
    height: 100%; 
}

/*Header styles*/
.image-alura {
    position: relative;
    top: 3em;
    left: 4em;
}

.titulo{
    font-size: 1.4em;
    color: #BBBBBB;
    font-weight: bold;
    padding: 0.4em 0;
    text-align: center;
    border-bottom: 2px solid #DDDDDD;
}

.titulo::before{
    content: "[ ";
}

.titulo::after{
    content: " ]";
}

/*Main styles*/
.left-side {
    display: inline-block;
    width: 30%;
}

.textarea-box {
    display: inline-block;
    margin: 4em 0 0 8em;
    padding: 1em 1em;
}

.mensagem {
    font-size: 2em;
    font-family: "Inter";
    background-color: transparent;
    border: none;
    resize: none;
}

.mensagem::placeholder{
    color: #0A3871;
}

.botoes {
    position: absolute;
    bottom: 5em;
    text-align: center;
    width: 58%;
}

.exclamation {
    position: absolute;
    bottom: 11em;
    text-align: center;
    width: 58%;
}

i {
    padding-right: 0.5em;
}

.cripto {
    box-sizing: border-box;
    
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1em;
    gap: 8px;

    width: 30%;

    background: #0A3871;
    border-radius: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;

    color: white;
    justify-content: center;
    margin: 0 2em 2em 0;
}

.descripto {
    box-sizing: border-box;

    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 1em;
    gap: 8px;

    width: 30%;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.right-side {
    text-align: right;
    width: 35%;
    height: 80%;
    background: #FFFFFF;
    position:absolute;
    top: 2em;
    right: 5em;
    text-align: center;
    border-radius: 2em;
    margin: 2em 0 1em;
    box-shadow: 0px 1.5em 2em 0.5em rgba(0, 0, 0, 0.08);
}

.image-man {
    padding-top: 1.5em;
}

.any {
    font-weight: bold;
    padding-top: 3em;
    font-size: 1.1em;
}

.lembrete {
    display: block;
    padding-top: 2em;
}

.resposta-box {
    
}

/*Footer styles*/
.autor{
    width: 100%;
    border-top: 3px solid #DDDDDD;
    vertical-align: bottom;
    position: absolute;
    bottom: 1.5em;
    text-align: center;
    color: #BBBBBB;
    font-weight: bold;
    font-style: italic;
    padding-top: 0.8em;
}